:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: auto;
  font-family: sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraph {
  display: flex;
  margin: 30px 0;
}

.about-paragraph p {
  margin: 10px;
  background-color: white;
  font-size: 18px;
  line-height: 1.5;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.Yoga,
.Yogurt {
  text-align: left;
}
.launch-button {
  background-color: var(--primary-color);
  color: white;
  padding: 20px 20px;
  border-radius: 4px;
}
.aboutYoga,
.aboutYogurt {
  text-align: left;
  background-color: white;
}
.weatherApp {
  text-align: left;
}
.about-weather {
  text-align: left;
  background-color: white;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
@media (max-width:767px) {
    h1 {
        font-size: 48px;
    }
    .col-6 img {
        display: none;

    }
 .col-6 {
    display: block; 
  }

  .col-6 h2,
  .col-6 p,
  .col-6 button {
    width: 100%; 
    text-align: center; 
  }
  .weatherApp, .Yoga, .Yogurt {
    font-size: 30px;
  }
   .button {
    padding: 10px 10px;
   }
   .col-sm-4 {
    display: flex;
    justify-content: space-between;
   }
      

    }
     
  
     

